@{
    ViewData["Title"] = "Отключение 2ФА";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>This action only disables 2FA.</strong>
    </p>
    <p>
        Отключение двухфакторной аутентификации не изменяет ключей, используемых в приложениях аутентификации.
        Если вы желаете изменить эти ключи, воспользуйтесь
        <a asp-action="ResetAuthenticatorWarning">функцией сброса ключей</a>.
    </p>
</div>

<div>
    <form asp-action="Disable2fa" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Отключить 2ФА</button>
    </form>
</div>
