@model EnableAuthenticatorViewModel
@{
    ViewData["Title"] = "Включение 2ФА";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
<div>
    <p>Для использования приложения аутентификации выполните следующие действия:</p>
    <ol class="list">
        <li>
            <p>
                Установите приложение двухфакторной аутентификации вроде Microsoft Authenticator для
                <a href="https://go.microsoft.com/fwlink/?Linkid=825071">Windows Phone</a>,
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> и
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> или
                Google Authenticator для
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> и
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>
                Отсканируйте QR код или введите этот ключ <kbd>@Model.SharedKey</kbd> вручную в ваше приложение двухфакторной аутентификации.
                Пробелы и регистр букв знаяения не имеют.
            </p>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
        </li>
        <li>
            <p>
                После того, как вы отсканируете QR код или введёте ключ вручную, ваше 2ФА приложение покажет вам уникальный 6-значный код.
                Введите этот код для подтверждения и включения 2ФА в поле ниже.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Code" class="control-label">Код подтверждения</label>
                            <input asp-for="Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-default">Подтвердить</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <environment include="Development">
        <script src="~/lib/qrcodejs/qrcode.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.jsdelivr.net/npm/davidshimjs-qrcodejs@0.0.2/qrcode.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.QRCode"
                crossorigin="anonymous">
        </script>
    </environment>

    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"), {
            text: "@Html.Raw(Model.AuthenticatorUri)",
            width: 150,
            height: 150
        });
    </script>
}
