@{
    ViewData["Title"] = "Сгенерировать коды восстановления 2ФА";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>This action generates new recovery codes.</strong>
    </p>
    <p>
        Если вы потеряете ваше устройство и у вас отсутствуют коды восстановления, вы потеряете доступ к вашему аккаунту.
    </p>
    <p>
        Генерация новых кодов восстановления не изменяет ключей используемых в приложениях аутентификации. Если вы хотите
        сменить эти ключи, вы можете воспользоваться <a asp-action="ResetAuthenticatorWarning">функцией сброса ключей</a>.
    </p>
</div>

<div>
    <form asp-action="GenerateRecoveryCodes" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Сгенерировать коды восстановления</button>
    </form>
</div>
