@model TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = "Двухфакторноя аутентификация";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>У вас не осталось кодов восстановления.</strong>
            <p>Вы должны <a asp-action="GenerateRecoveryCodes">сгенерировать новый список кодов восстановления</a> прежде чем вы можете использовать их для входа.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>У вас остался один код восстановления</strong>
            <p>Рекоммендуем вам <a asp-action="GenerateRecoveryCodes">сгенерировать новый список кодов восстановления</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>У вас осталось @Model.RecoveryCodesLeft кодов восстановления.</strong>
            <p>Рекоммендуем вам <a asp-action="GenerateRecoveryCodes">сгенерировать новый список кодов восстановления</a>.</p>
        </div>
    }

    <a asp-action="Disable2faWarning" class="btn btn-default">Отключить 2ФА</a>
    <a asp-action="GenerateRecoveryCodesWarning" class="btn btn-default">Сброс кодов восстановления</a>
}

    <h5>Приложение аутентификации</h5>
@if (!Model.HasAuthenticator || !Model.Is2faEnabled)
{
    <a asp-action="EnableAuthenticator" class="btn btn-default">Добавить приложение аутентификации</a>
}
else
{
    <a asp-action="EnableAuthenticator" class="btn btn-default">Настроить приложение аутентификации</a>
    <a asp-action="ResetAuthenticatorWarning" class="btn btn-default">Сбросить ключ аутентификации</a>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
