@{
    ViewData["Title"] = "О Нас";
}
<h2>@ViewData["Title"]</h2>

<img src="~/images/KhNUE.jpg"/>

<p>
    Ми навчаємо вчитися, мислити, працювати.
    Недостатньо оволодіти знаннями – потрібно їх ефективно використовувати. Недостатньо використо- вувати знання – потрібно їх продукувати.
    Перевагами навчання в ХНЕУ ім. С. Кузнеця є спрямованість на кінцевий результат – формування компетентного фахівця, здатного до працевлаштування, успішного в професійній та соціальній сфері.
</p>

<p>
    Доктор економічних наук, професор, заслужений діяч
    науки і техніки, член-кореспондент НАПН України,
    ректор ХНЕУ ім. С. Кузнеця В. С. Пономаренко
</p>
