@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>

<address>
    Здесь будет контактная информация.
</address>

<address>
    <strong>Поддержка:</strong> <a href="mailto:support@example.com">support@example.com</a>
</address>
