@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>

<address>
    Здесь будет контактная информация.
</address>

<iframe class="google-maps" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJhYLShSOhJ0ERtEdArqg3zZg&key=AIzaSyAeN3ZSSYziFiGQIDBEdOD8dOoDadz-avA" allowfullscreen></iframe>

<address>
    <strong>Поддержка:</strong> <a href="mailto:hneu.abit@gmail.com">hneu-abit@gmail.com</a>
</address>
