@{
    ViewData["Title"] = "Главная Страница";
}

<div class="row welcome-text">
    <h3>Добро пожаловать на сайт абитуриента</h3>
    <p>Предлагаем ознакомиться с нашим ВУЗом и пройти интересный квест ;)</p>
</div>

<div class="row video-body">
    <div class="video-wrapper">
        <video width="100%" height="100%" preload="auto" controls>
            <source src="~/video/khnue.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

@section RawBody {
    <div class="game" id="game-body">
        <div class="dialog-scene has-bg"></div>

        <div class="dialog-box" style="display: none">
            <div class="dg-body">
                <div class="dg-image">
                    <img src="~/images/game/dialog/_blank.png" />
                </div>
                <div class="dg-text">
                    <span class="name"></span>
                    <span class="text"></span>
                </div>
            </div>
            <a class="next-btn">
                <i class="fas fa-forward"></i>
            </a>
        </div>

        <div class="map-body" style="display: none">
            <img class="map-bg" src="~/images/game/map-full.png" />
        </div>

        <div class="game-welcome has-bg">
            <img class="is-bg" src="~/images/game/welcome-screen.png" />
            <svg version="1.1" id="play" class="play-btn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 height="20%" width="20%" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
            <path class="stroke-solid" fill="none" stroke="white" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
    C97.3,23.7,75.7,2.3,49.9,2.5" />

            <path class="stroke-dotted" fill="none" stroke="white" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
    C97.3,23.7,75.7,2.3,49.9,2.5" />

            <path class="icon" fill="white" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />

    </svg>
            @*<img class="play-btn" src="~/images/game/play-button.png" />*@
        </div>

        <div class="dialog-fade">
            <h3 class="fade-text"></h3>
        </div>

        <div class="system-menu">
            <a class="newgame-btn">
                <i class="fas fa-redo-alt"></i>
            </a>
            <a class="fullscreen-btn" data-target="game-body">
                <i class="fas fa-window-maximize"></i>
            </a>
        </div>



        <div class="modal fade" role="dialog" id="map-chapter-menu">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                        <h4 class="modal-title">Выберите раздел</h4>
                    </div>
                    <div class="modal-body ch-list"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        @await Component.InvokeAsync("CommentSection")
    </div>
}

<script type="text/html" id="map-chapter-menu-item">
    <div class="chapter">
        <img class="cc-img" src="~/images/game/play-button.png" />
        <h4 class="cc-text">{chapter}</h4>
    </div>
</script>

@section Head {
    <link rel="preload" href="~/images/game/map-full.png" as="image" />
}

@section Scripts {
    <script type="text/javascript">
        // Hardcoded test, remove later

        $game.dialog.setStage('intro', [
            { do: "scene", url: "/images/game/scene/scene-1.png" },
            { do: "action", name: "show" },

            { do: "say", text: "This is some intro text" },
            { do: "say", text: "More text here" },

            { do: "goto", stage: "test-1" },
        ]);


        $game.dialog.setStage('test-1', [
            { do: "scene", url: "/images/game/scene/scene-2.png", text: "[memes]" },

            { do: "image", url: "/images/game/dialog/person-1.png" },
            { do: "say", name: "Person", text: "Hello!" },
            { do: "say", name: "Person", text: "Here should be some content" },

            { do: "image", url: null },
            { do: "say", text: "The End™" },

            { do: "action", name: "hide" },
            { do: "scene", url: null },

            { do: "action", name: "ChapterDone" },
        ]);

        $game.map.addArea('test', [25.5, 5.5, 28.0, 17.6], [
            { name: "Start Dialog", dialog: "intro" },
        ]);
    </script>
}