@{
    ViewData["Title"] = "Главная Страница";
}

@inject SignInManager<ApplicationUser> SignInManager

<div class="row welcome-text">
    <h3>Добро пожаловать на сайт абитуриента</h3>
    <p>Предлагаем ознакомиться с нашим ВУЗом и пройти интересный квест ;)</p>
</div>

<div class="row video-body">
    <div class="video-wrapper">
        <video width="100%" height="100%" preload="auto" controls>
            <source src="~/video/khnue.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

@section RawBody {
    @if(User.Identity.IsAuthenticated) {
        @await Html.PartialAsync("GameCorePartial")
    } else {
        <div class="container">
            <div class="alert alert-danger">
                <strong>Внимание!</strong>
                Вы должны войти в систему для прохождения квеста!
            </div>
        </div>
    }

    <div class="container">
        @await Component.InvokeAsync("CommentSection")
    </div>
}

@section Scripts {
    @if(User.Identity.IsAuthenticated) {
        @await Html.PartialAsync("GameScriptPartial")
    }
}