

@{
    ViewData["Title"] = "Главная Страница";
}



<div class="row welcome-text">
    <h2>
        Добро пожаловать на сайт абитуриента</h3>
        <p>Предлагаем ознакомиться с нашим ВУЗом и пройти интересный квест ;)</p>
</div>

<div class="row video-body">
    <div class="video-wrapper">
        <video width="100%" height="100%" preload="auto" controls>
            <source src="~/resources/video/video.mp4" type="video/mp4"> Your browser does not support the video tag.
        </video>
    </div>
</div>

@section RawBody {
    <div class="game" id="game-body">
        <img class="main-screen-item" src="~/images/game/welcome-cloud.png"/>

        <img id="play-button" class="main-screen-item" src="~/resources/img/play-button.png"/>

        <div id="fullscreen-button">
            <a href="javascript:void(0)">
                <i class="fas fa-window-maximize"></i>
            </a>
        </div>
    </div>

    <div class="container">
        @await  Component.InvokeAsync("CommentSection")
    </div>
}
