@{
    ViewData["Title"] = "Главная Страница";
}

<div class="row welcome-text">
    <h2>
        Добро пожаловать на сайт абитуриента</h3>
        <p>Предлагаем ознакомиться с нашим ВУЗом и пройти интересный квест ;)</p>
</div>

<div class="row video-body">
    <div class="video-wrapper">
        <video width="100%" height="100%" preload="auto" controls>
            <source src="~/video/khnue.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

@section RawBody {
<div class="game" id="game-body">
    <div class="dialog-scene has-bg">
        <img src="~/images/game/welcome-cloud.png" />
    </div>

    <div class="dialog-box" style="display: none">
        <div class="dg-body">
            <div class="dg-image">
                <img src="~/images/game/dialog/_blank.png" />
            </div>
            <div class="dg-text">
                <span class="name"></span>
                <span class="text"></span>
            </div>
        </div>
        <a class="next-btn">
            <i class="fas fa-forward"></i>
        </a>
    </div>

    <div class="dialog-fade"></div>

    <img class="play-btn" src="~/images/play-button.png" />

    <div class="fullscreen-btn">
        <a data-target="game-body">
            <i class="fas fa-window-maximize"></i>
        </a>
    </div>
</div>

<div class="container">
    @await Component.InvokeAsync("CommentSection")
</div>
}

@section Scripts {
<script type="text/javascript">
    // Hardcoded test, remove later

    $game.dialog.setStage('intro', [
        { do: "scene", url: "/images/game/scene/scene-1.png" },
        { do: "action", show: true },

        { do: "say", text: "This is some intro text" },
        { do: "say", text: "More text here" },

        { do: "goto", stage: "test-1" },
    ]);


    $game.dialog.setStage('test-1', [
        { do: "scene", url: "/images/game/scene/scene-2.png" },

        { do: "image", url: "/images/game/dialog/person-1.png" },
        { do: "say", name: "Person", text: "Hello!" },
        { do: "say", name: "Person", text: "Here should be some content" },

        { do: "image", url: null },
        { do: "say", text: "The End™" },

        { do: "action", hide: true },
        { do: "scene", url: null },
    ]);
</script>
}