@{
    ViewData["Title"] = "Главная Страница";
}

@inject SignInManager<ApplicationUser> SignInManager

<div class="row welcome-text">
    <h3>Добро пожаловать на сайт абитуриента</h3>
    <p>Предлагаем ознакомиться с нашим ВУЗом и пройти интересный квест ;)</p>
</div>

<div class="row video-body">
    <div class="video-wrapper">
        <video width="100%" height="100%" preload="auto" controls>
            <source src="~/video/khnue.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

@section RawBody {
    @if(User.Identity.IsAuthenticated) {
        @await Html.PartialAsync("GameCorePartial")
    } else {
        <div class="container">
            <div class="alert alert-danger">
                <strong>Внимание!</strong>
                Вы должны войти в систему для прохождения квеста!
            </div>
        </div>
    }

    <div class="container">
        @await Component.InvokeAsync("CommentSection")
    </div>
}

@section Scripts {
    <link rel="preload" href="~/images/game/map-full.png" as="image" />

    <script type="text/javascript">
        // Hardcoded test, remove later

        $game.dialog.setStage('intro', [
            { do: "scene", url: "/images/game/scene/scene-1.png" },
            { do: "action", name: "show" },

            { do: "say", text: "This is some intro text" },
            { do: "say", text: "More text here" },

            { do: "goto", stage: "test-1" },
        ]);


        $game.dialog.setStage('test-1', [
            { do: "scene", url: "/images/game/scene/scene-2.png", text: "[memes]" },

            { do: "image", url: "/images/game/dialog/person-1.png" },
            { do: "say", name: "Person", text: "Hello!" },
            { do: "say", name: "Person", text: "Here should be some content" },

            { do: "image", url: null },
            { do: "say", text: "The End™" },

            { do: "action", name: "hide" },
            { do: "scene", url: null },

            { do: "action", name: "ChapterDone" },
        ]);

        $game.map.addArea('test', [25.5, 5.5, 28.0, 17.6], "Testing", [
            { name: "Start Dialog", dialog: "intro" },
        ]);
    </script>
}