@model Enrollee.Models.Comment
@using System.Linq
@inject SignInManager<ApplicationUser> SignInManager


<div class="row">
    <div class="col-md-4">
        @if (User.Identity.IsAuthenticated)
        {

        <div class="form-group">
            <textarea asp-for="Text" id="CommentText" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input id="SubmitComment" type="submit" value="Отправить" class="btn btn-default " />
        </div>
        }
        else
        {
        <ul>
            <li><a asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Login">Вход</a></li>
        </ul>
        }
    </div>
</div>

