
@{
    Layout = "_EmptyLayout";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/_game/computer/style.css" asp-append-version="true"/>
    <style>
        td>img {
            width: 100px;
            height: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="col-md-6">
            <div class="power"></div>
            <div class="video"></div>
            <div class="keyboard"></div>
            <div class="usb1"></div>
            <div class="usb2"></div>
            <div class="usb3"></div>
            <div class="audio"></div>
            <div class="ethernet"></div>
            <img src="~/lib/_game/computer/img/background.jpg" width="650" height: auto;>
        </div>
        <div class="col-md-6">

            <table>
                <tr>
                    <td>
                        <div id="power">

                        </div>
                    </td>
                    <td>
                        <img src="~/lib/_game/computer/img/power.png">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="video">

                        </div>
                    </td>
                    <td>
                        <img src="~/lib/_game/computer/img/hdmi.png">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="keyboard"> </div>
                    </td>
                    <td>
                        <img src="~/lib/_game/computer/img/ps2.png">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="mouse"></div>
                    </td>
                    <td>
                        <img src="~/lib/_game/computer/img/usb.png">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="audio"></div>
                    </td>
                    <td>
                        <img src="~/lib/_game/computer/img/audio.png">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="ethernet"></div>
                    </td>
                    <td>
                        <img src="~/lib/_game/computer/img/ethernet.png">
                    </td>
                </tr>
            </table>

        </div>

        <div id="successMessage" hidden>
            <h2>У вас получилось!</h2>
            <h3>
                Ошибок:
                <span class="errors"></span>
            </h3>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="~/lib/_game/computer/script.js" asp-append-version="true"></script>
</body>

</html>