.game {
    background: #40A000;
    width: 100%;
    height: 90vh;
    position: relative;
}

    .game .play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media screen and (orientation: landscape) {
        .game .play-btn {
            height: 20%;
        }
    }

    @media screen and (orientation: portrait) {
        .game .play-btn {
            width: 20%;
        }
    }

    .game .play-btn:hover {
        transform: translate(-50%, -50%) scale(1.2, 1.2);
    }


.dialog-scene {
    position: absolute;
    width: 100%;
    height: 100%;
}


.dialog-box {
    position: absolute;
    bottom: 0%;
    width: 100%;

    background: linear-gradient(rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.7) 10%);
}

    .dialog-box .dg-body {
        display: flex;
    }

    .dg-body .dg-image {
        flex-basis: 20%;
    }

    .dg-image > img {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .dg-body .dg-text {
        flex-basis: 80%;
        padding: 10px;
        font-size: 1.5em;
    }

    @media all and (min-width: 1000px) {
        .dg-body .dg-image {
            flex-basis: 200px;
        }

        .dg-body .dg-text {
            flex-basis: auto;
        }
    }

    @media all and (max-width: 440px) {
        .dg-body .dg-image {
            flex-basis: 88px;
        }

        .dg-body .dg-text {
            flex-basis: auto;
            font-size: 1.1em;
        }
    }

    .dg-text .name {
        color: #E0FFE0;
        font-style: italic;
    }

    .dg-text .name::after {
        content: ': ';
    }

    .dg-text .text {
        color: #E0FFE0;
    }

    .dialog-box a.next-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 2px 10px;
        color: #333;
        background-color: #E0FFE0;
        border-radius: 2px;
        font-size: 1.5em;
    }

    @media all and (max-width: 440px) {
        .dialog-box a.next-btn {
            font-size: 1.1em;
        }
    }

    .dialog-box a.next-btn:hover {
        color: #8F3;
        background-color: #333;
    }

    .dg-image {
        overflow: hidden;
    }

    .dg-image img {
        transition: transform 0.5s ease-in-out;
    }

    .dg-image img.dg-hidden {
        transform: translate(-100%, 0%);
    }

    .dialog-fade {
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;

        background-color: rgba(0, 0, 0, 0.0);
        transition: background-color 0.5s ease-in-out;
    }

    .dialog-fade.dg-faded {
        background-color: rgba(0, 0, 0, 1.0);
    }
body {
    padding-top: 70px;
    padding-bottom: 20px;
    margin: 0;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.video-wrapper {
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 720px;
    height: 540px;
}

.centered-element-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
}

.centered-element-wrapper img {
    width: 100%;
    height: 100%;
}

.raw-body {
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: center;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */

#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-brand {
    height: 80px;
    padding: 0;
}

.navbar-brand .brand-logo {
    height: 80px;
}

.navbar-nav {
    padding-top: 15px;
}

.navbar-nav h3 {
    margin: 10px;
}

.welcome-text {
    text-align: center;
}

.contacts {
    padding-left: 50px;
}

/* Utility classes */

div.has-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

    div.has-bg > img {
        display: none;
    }

.fullscreen-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

    .fullscreen-btn > a {
        color: #333;
    }

    .fullscreen-btn > a:hover {
        color: #8F3;
    }