body {
    padding-top: 70px;
    padding-bottom: 20px;
    margin: 0;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.video-wrapper {
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 720px;
    height: 540px;
}

.centered-element-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
}

.centered-element-wrapper img {
    width: 100%;
    height: 100%;
}

.raw-body {
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: center;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */

#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-brand {
    height: 80px;
    padding: 0;
}

.navbar-brand .brand-logo {
    height: 80px;
}

.navbar-nav {
    padding-top: 15px;
}

.navbar-nav h3 {
    margin: 10px;
}

.welcome-text {
    text-align: center;
}

.contacts {
    padding-left: 50px;
}

.google-maps {
    border: 0;
    width: 100%;
    height: 450px;
}

/* Utility classes */

div.has-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

    div.has-bg > img.is-bg {
        display: none;
    }

.system-menu {
    position: absolute;
    top: 10px;
    right: 10px;

    font-size: 1.25em;
}

    .system-menu a {
        color: #333;
        margin: 0 5px;
    }

    .system-menu a:hover {
        color: #8F3;
    }